version: '2.1'
services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    networks:
      - localstack-network
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
    volumes:
      - "./localstack_init:/docker-entrypoint-initaws.d"
      - "./localstack_data:/tmp/localstack"

networks:
  localstack-network:
    name: localstack